/*
 Notes:
	- only change hex values — keep class names and property names as they are
	- classes like ".TextField .QuickFriendLookupTextField" mean it's inheriting .TextField's properties, not setting both
	- really light text against a dark background makes text a bit blotchy. 
	  If you have this problem, try using a slightly darker color, like #DDDDDD instead of #FFFFFF
	- use 'Reload current theme' under Preferences or the Command+Shift+Alt+R hotkey when fine-tuning your theme
	- convert old .dtwt themes by dragging them into DestroyTwitter — they will appear as a .css in the themes folder
	- specify the 'forVersion' property under #META to ensure backwards and forwards compatibility
	- share your theme with others by tweeting it with the hashtag #destroytwittertheme
*/

#META
{
	name: Dribbble;
	creator: destroytoday;
	forVersion: 2.1.0;
}

.ApplicationWindowBar 
{
	backgroundGradientStartColor: #57636F;
	backgroundGradientEndColor: #434950;
}

/* PC-only */
.ApplicationControlButton
{
	upColor: #FFFFFF;
	overColor: #FFFFFF;
}

.ApplicationWindowBarTextField
{
	textColor: #FFFFFF;
}

.ApplicationWindowBackground
{
	backgroundColor: #F4F4F4;
}

.ApplicationWindowFooter
{
	backgroundColor: #FFFFFF;
}

.BaseCanvas
{
	backgroundColor: #F4F4F4;
}

.BaseNavigationBar
{
	border: true;
	borderColor: #CCCCCC;
	backgroundColor: #E3E3E3;
}

.BaseNavigationButton
{
	border: false;
	borderColor: #FFFFFF;
	backgroundUpColor: #E3E3E3;
	backgroundOverColor: #E3E3E3;
	backgroundSelectedUpColor: #E3E3E3;
	backgroundSelectedOverColor: #E3E3E3;
}

.BaseNavigationButton .NavigationTextButton
{
	textUpColor: #4083A9;
	textOverColor: #205F82;
	textSelectedUpColor: #000000;
	textSelectedOverColor: #000000;
	textHighlightedColor: #EC6196;
}

/* Tweet button (speech bubble) */
.BaseNavigationButton .NavigationBitmapButton
{
	bitmapUpColor: #4083A9;
	bitmapOverColor: #205F82;
	bitmapSelectedUpColor: #000000;
	bitmapSelectedOverColor: #000000;
}

.NotificationWindow
{
	backgroundColor: #F4F4F4;
}

/* darkens the rest of the app when the drawer is open */
.Dimmer
{
	backgroundColor: #F4F4F4;
}

/* "Starting up..." */
.TextField .StartupTextField
{
	textColor: #3E3E3E;
}

.LoginTitle
{
	textColor: #000000;
}

/* buttons like submit, apply, etc */
.TextButton
{
	textUpColor: #FFFFFF;
	textOverColor: #FFFFFF;
	textDisabledColor: #FFFFFF;
	backgroundUpColor: #EC6196;
	backgroundOverColor: #DF3E7B;
	backgroundDisabledColor: #D9D9D9;
}

/* icon buttons such as older, newer, most recent, etc */
.BitmapButton
{
	upColor: #A1A1A1;
	overColor: #717171;
	disabledColor: #DDDDDD;
}

/* loader */
.Spinner
{
	color: #4083A9;
}

.FailWhale
{
	upColor: #EC6196;
	overColor: #EC6196;
	disabledColor: #EC6196;
}

/* "50% of 24kb" */
.ProgressTextField
{
	textColor: #000000;
}

.ScrollerThumb
{
	arrowColor: #FFFFFF;
	backgroundUpColor: #777777;
	backgroundOverColor: #444444;
	backgroundDisabledColor: #CCCCCC;
}

.ScrollerTrack
{
	borderColor: #666666;
	backgroundColor: #F4F4F4;
}

.Alert
{
	backgroundColor: #EC4C88;
}

.TextField .AlertTextField
{
	textColor: #FFFFFF;
}

.Drawer
{
	borderColor: #888888;
	backgroundColor: #F4F4F4;
}

.Dialogue
{
	borderColor: #CCCCCC;
}

.QuickFriendLookup
{
	backgroundColor: #E6E6E6;
}

.TextField .QuickFriendLookupTitle
{
	textColor: #333333;
}

.TextInput
{
	textUnfocusedColor: #333333;
	textFocusedColor: #333333;
	textDisabledColor: #CCCCCC;
	textErrorColor: #EC6196;
	borderUnfocusedColor: #C3C3C3;
	borderFocusedColor: #C3C3C3;
	borderDisabledColor: #C3C3C3;
	borderErrorColor: #EC6196;
	backgroundUnfocusedColor: #E0E0E0;
	backgroundFocusedColor: #FFFFFF;
	backgroundDisabledColor: #F4F4F4;
	backgroundErrorColor: #FFFFFF;
}

.TextInput .QuickFriendLookupInput
{
	backgroundUnfocusedColor: #FFFFFF;
	backgroundFocusedColor: #FFFFFF;
	backgroundDisabledColor: #FFFFFF;
	backgroundErrorColor: #FFFFFF;
}

/* Tweet */
.StreamStatus
{
	indicatorColor: #EA4C88;
	borderUpColor: #F4F4F4;
	borderSelectedUpColor: #D4D4D4;
	borderSelectedOverColor: #D4D4D4;
	backgroundUpColor: #F4F4F4;
	backgroundOverColor: #FFFFFF;
	backgroundSelectedUpColor: #FFFFFF;
	backgroundSelectedOverColor: #FFFFFF;
	backgroundUnreadColor: #F4F4F4;
}

/* 
 *
 * HTML classes
 *
*/

/* body text */
p
{
	color: #555555;
}

/* link */
a
{
	color: #4083A9;
}

/* link over */
a:hover
{
	color: #205F82;
}

/* url in a tweet */
.url
{
	color: #4083A9;
}

/* @mention in a tweet */
.screenName
{
	color: #4083A9;
}

/* #hashtag in a tweet */
.hashtag
{
	color: #4083A9;
}

/* stock symbol (ie $ADBE) in a tweet */
.stockSymbol
{
	color: #4083A9;
}

/* canvas titles, drawer titles */
.title
{
	color: #333333;
}

/* preference headers */
.subtitle
{
	color: #333333;
}

/* Quick Friend Lookup selection */
.selected
{
	color: #EC4C88;
}

/* compose character count */
.drawerSubTitle
{
	color: #888888;
}

.profileScreenName
{
	color: #999999;
}

.statusDate
{
	color: #999999;
}

/* preference notes, update tags */
.dimmed
{
	color: #999999;
}

/* checking for updates... */
.footer
{
	color: #999999;
}

/* update available */
.footerLink
{
	color: #4083A9;
}

.notificationTitle
{
	color: #EC4C88;
}

.updateSubtitle
{
	color: #333333;
}
